.App {
    text-align: center;
}

.contant {
    color: #000;
}

.hello {
    margin-top: -60px;
}
.contant-inner {
    width: 100%;
}
.category-image {
    width: 70%;
}
.nav {
    z-index: 1;
}
.aboutimage {
    width: 100%;
}
.partners {
    background: rgb(32, 31, 31);
    color: #fff;
}
.partners img {
    width: 200px;
    height: auto;
}
.footer {
    background: rgb(4, 2, 14);
    height: auto;
    color: #fff;
}
.footer-in ul {
    list-style: none;
}
.footer-in a {
    color: #fff;
}
